{% extends 'seller/header.html' %}

{% block body %}

{% load staticfiles %}

<div class="row">
    <div class="col-sm-3 sidebar-left">
        <h4 style="text-align: center;">My Products | <a href="./add">Add Product</a></h4>
        <div class="column" style="width: 100%;">
            <div class="card" style="height: fit-content;">
                <div class="row"><img class="product-image" src={% static "images/sample.png" %}></div>
                <p style="padding-top: 1rem;">Product Name</p>
            </div>
            <br>
            <div class="card" style="height: fit-content;">
                <div class="row"><img class="product-image" src={% static "images/sample.png" %}></div>
                <p style="padding-top: 1rem;">Product Name</p>
            </div>
            <br>
            <div class="card" style="height: fit-content;">
                <div class="row"><img class="product-image" src={% static "images/sample.png" %}></div>
                <p style="padding-top: 1rem;">Product Name</p>
            </div>
            <br>
            <div class="card" style="height: fit-content;">
                <div class="row"><img class="product-image" src={% static "images/sample.png" %}></div>
                <p style="padding-top: 1rem;">Product Name</p>
            </div>                                    
        </div>
    </div>
    <div class="col-sm-9">
        
    </div>   
</div>

{% endblock %}