{% extends 'base.html' %}

{% block home %}

{% load staticfiles %}
<div class="row">

      <div class="column">
        <div class="card">
          <div class="row">
            <div class="col-sm-6">
              <img class="product-image" src={% static "images/logo.png" %} >
        </div>
            <div class="col-sm-6">
              <div class="row card-detail">Seller: Vinushan</div>
              <div class="row card-detail">Location: Wellawatte</div>
              <div class="row card-detail">Price: Rs 100.00</div>
              <div class="row card-detail">Condition: Brand New</div>
            </div>
          </div>
          <br>
            <div class="row product-name">
              Product Name
      </div>
            <div class="row product-desc">
              buy this product mdowdm dnwomdwod dnwmdowmdw nonodmwodmw nodmwodmwod mdowmdomwdo dmowmdowmd
      </div>
    </div>
        </div>

  <div class="column">
    <div class="card">
      <img src={% static "images/logo.png" %}>

    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src={% static "images/logo.png" %}>

    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src={% static "images/logo.png" %}>

    </div>
  </div>
</div>
{% endblock %}